[submodule "third_party/rci"]
	path = third_party/rci
	url = https://github.com/KIWI-ST/rci.git
	branch = main
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
